---
import Cta from "./composable/Cta.astro";
import HighlightHeading from "./composable/HighlightHeading.astro";

interface Props {
  entry: {
    data: {
      eyebrow: string;
      title: string;
      description: string;
      feature_image: {
        src: string;
        alt: string;
      };
      url: string;
      keywords: string[];
      theme: "primary" | "secondary" | "tertiary" | "quaternary";
      order: number;
    },
    slug: string;
  }
}

const { entry }: Props = Astro.props;
const { eyebrow, title, description, feature_image, url, keywords = [], theme, order } = entry.data;

---
<section>
  <div class="case-study-hero">
    <div class="case-study-hero__header">
      <p class="case-study-hero__eyebrow eyebrow" transition:name={`case-study-${order}-eyebrow`}>{eyebrow}</p>
      <HighlightHeading
          title={title} theme={theme}
          level={1}
          class="h1 case-study-hero__headline" transitionName={`case-study-${order}-heading`}/>
      {keywords.length > 0 && (
          <ul class="tags case-study-hero__tags" transition:name={`case-study-${order}-keywords`}>
            {keywords.map(keyword => (
                <li>{keyword}</li>
            ))}
          </ul>
      )}
    </div>
    <div class="case-study-hero__description flow">
      <p class="body-l case-study-hero__body">{description}</p>
      <div class="case-study-hero__detail-buttons">
        {url && <Cta href={url} type="primary">See Live</Cta>}
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../styles/abstracts/index" as *;

  .case-study-hero {
    border-bottom: var(--border-default);
    display: grid;
    gap: $size-8;
    padding-block-start: $size-10;
    padding-block-end: $size-11;
    grid-template-columns: 1fr ;

    @include mq(m) {
      grid-template-columns: 7fr 5fr 1fr;
    }

    &__description {
      display: flex;
      flex-direction: column;
      @container (width > 670px) {
        margin-top: clamp(14rem, 16vw, 16rem);
      }
    }

    &__tags {
      padding-block-start: $size-8;
      padding-inline-end: $size-12;
    }
  }

</style>
